[data-id="text"],
.game-container {
  display: none;
}

[data-id="start-btn"]{
  font-size: 18px;
}

[data-id="start-btn"]:hover{
  background-color: #338b47;
}

[data-id="start-btn"]:focus,
[data-id="start-btn"]:active {
  background-color: #28a745;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: none;
}

.difficulty-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: auto;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.btns-wrapper {
  display: flex;
  gap: 30px;
}

.btns-wrapper button {
  padding: 8px 15px;
  font-size: 20px;
}